spring:
  mvc:
    throw-exception-if-no-handler-found: true  # 잘못된 요청 시 NoHandlerFoundException을 던지도록 설정
  web:
    resources:
      add-mappings: false  # 리소스 핸들러 매핑 비활성화
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password:  ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GOOGLE_USERNAME}
    password: ${GOOGLE_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_SECRET}
            scope: profile, email

          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_SECRET}
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope: profile_nickname, profile_image, account_email
            client-name: Kakao

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-info-authentication-method: header
            user-name-attribute: id

jwt:
  secretKey: "ajsdhflahefkjlaweh324123341243jasdfkuajsdfalukjh12313" #임시 설정
  access:
    expiration: 2592000000
    header: Authorization
  refresh:
    expiration: 1209600000
    header: Authorization-refresh
